ul{
    list-style: none;
}
img{
    block-size: 60px;
    border-bottom: 4px outset #FFFFFF;
    border-radius: 40px;
    margin-right: 10px;
   

    
}
.borde{

    border: solid black;
    margin: 5px;
    margin-left: 20%;
    margin-right: 20%;
   
}

.scroll{

  overflow: scroll;
  height: 400px;

}

span{
   
    margin-left: 60%;
    margin-right: 40px;
 
}