a{

    padding: 5px;
    margin: 5px;
    border: 3px ridge #2798E3;
    border-radius: 23px;
    
}


img{
    size: 5px;
    block-size: 50px;
}

  ul 
  { 
    list-style-type: none;
    list-style-position: outside;
   

  } 
 li 
 { 
   
 padding: 10px; 
  margin: 0px; 
  }  

