a{
    border: 3px solid #666666;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
}

img{
    size: 5px;
    block-size: 50px;
}

  ul 
  { 
    list-style-type: none;
    list-style-position: outside;
   

  } 
 li 
 { 
   
 padding: 10px; 
  margin: 0px; 
  }  

