/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css"; 


div{
    text-align: center;
    
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}
body{
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
    padding-bottom: 20px;
    padding-top: 20px;
    
}