<div class="div">
<br>
<p>Mis datos personales</p>
    <div>
        <ng-container ngIf*="user?.name">
        <div class="border1" style="text-align: left;" >
   Nombre: <input type="name" [(ngModel)]="user.name"> <br>
   Apellido: <input type="name" [(ngModel)]="user.surname"> <br>
   Nick: <input type="name" [(ngModel)]="user.user"> <br>
   Fecha de nacimiento: <input type="name" [(ngModel)]="user.birthDate"> <br> <br>
   <input type="button" value="Editar" (click)="editUser()">
        </div>
    </ng-container>
    </div>
</div>
